﻿@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <h2>
        Welcome to I-insure
    </h2>

    <p class="text-leader2">
        The best way to manage all your Policies.
    </p>



    <div class="row my-6">
        <div class="cell-md-4 hvr-bob">
            <div class="info-panel rounded no-overflow shadow-3">
                <div class="info-panel-header-custom bg-darkBlue fg-white">
                    <img style="max-height:100%;max-width:100%" src="~/images/insure1.jpg" />
                </div>
                <div class="info-panel-content text-left-sm">
                    <h3 class="fg-darkCobalt">Create new policy</h3>
                    <span class="text-leader2">Do you want to create a new policy? click to get started.</span>
                </div>
                <div class="info-panel-footer text-left-sm">
                    <a href="/Motor/Create_certificate" class="button info rounded">Get started</a>
                </div>
            </div>
        </div>
        <div class="cell-md-4 hvr-bob">
            <div class="info-panel rounded no-overflow shadow-3">
                <div class="info-panel-header-custom bg-darkBlue fg-white">
                    <img style="max-height:100%;max-width:100%" src="~/images/insure2.jpg" />
                </div>
                <div class="info-panel-content text-left-sm">
                    <h3 class="fg-darkCobalt">Register a claim</h3>
                    <span class="text-leader2">Do you want to register a claim? Click the button below to get started.</span>
                </div>
                <div class="info-panel-footer text-left-sm">
                    <a href="/Motor/Create_certificate" class="button info rounded">Get started</a>
                </div>
            </div>
        </div>
        <div class="cell-md-4 hvr-bob">
            <div class="info-panel rounded no-overflow shadow-3">
                <div class="info-panel-header-custom bg-darkBlue fg-white">
                    <img style="height:300px;max-width:100%" src="~/images/insure3.jpg" />
                </div>
                <div class="info-panel-content text-left-sm">
                    <h3 class="fg-darkCobalt">Setup Insured</h3>
                    <span class="text-leader2">Do you want to create a new insured? Get started</span>
                </div>
                <div class="info-panel-footer text-left-sm">
                    <a href="/Motor/Create_certificate" class="button info rounded">Get started</a>
                </div>
            </div>
        </div>


    </div>


</div>



