﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>@ViewBag.Title - I-insure</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4.3.2/css/metro-all.min.css">
    <!-- Required meta tags -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @{ Html.RenderPartial("_Navbar");}

    <div class="container-fluid">
        <div class="grid">
            <div class="row pt-15">
                <div class="cell-md-2">
                    @*@{ Html.RenderPartial("_Sidenav");}*@
                    


                </div>
                <div class="cell-md-8">
                    <div class=" ">
                        @RenderBody()
                        <hr />
                        <footer>
                            <p>&copy; @DateTime.Now.Year I-insure</p>
                        </footer>
                    </div>
                </div>

                <div class="cell-md-2">
                    @* search filter side *@

                    @*<div class="card rounded">
                        <div class="card-header">
                           Search Filter
                        </div>
                        <div class="card-content p-2">
                            <span class="text-upper p-1">Where insured name</span>
                            <input class="rounded form-control-blue" type="text">

                            <span class="text-upper  p-1">and date between</span>
                            <input class="rounded form-control-blue" type="text" data-role="calendarpicker"
                                   data-input-format="%d/%m/%y" value="">
                            <span class="text-upper p-1">and</span>
                            <input class="rounded form-control-blue" type="text" data-role="calendarpicker"
                                   data-input-format="%d/%m/%y" value="">
                        </div>
                        <div class="card-footer">
                            <button class="button rounded success">Submit</button>
                        </div>
                    </div>*@
                </div>
            </div>
       
    </div>
   
    </div>

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/metro")
    @* for progress loading *@
    <script type="text/javascript">

        $("#myform").submit(function (event) {
            // Animate loader
            var isValid = $('#myform').valid();
            if (isValid) {
                // Animate loader
                //$("#progress").show();
                Metro.activity.open({
                    type: 'square',
                    overlayColor: '#fff',
                    overlayAlpha: 1
                });
            }
        });

    </script>

    @* Toastr message *@
    <script type="text/javascript">
    $(document).ready(function () {
        @if (TempData["success"] != null)
    {

        @:showSuccessToast('@TempData["message"]');
     TempData.Clear();

    }

          else if (TempData["info"]!= null)
          {

        @:showInfoToast('@TempData["message"]');
          TempData.Clear();
        }
    });
    </script>

    <script>
        function fadeout() {
            $('.alert2').fadeOut();
        }
    </script>
    <!-- Metro 4 -->
    @*<script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>*@
    @RenderSection("scripts", required: false)
</body>
</html>
