﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@if (ViewBag.message != null)
{
    switch (ViewBag.messagetype)
    {
        case "info":
            <div class="alert2 text-small alert-dismissible alert-info-alt" role="alert">
                <button type="button" class="close" onclick="fadeout()" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                @ViewBag.message
            </div>
            break;
        case "error":
            <div class="alert2 text-small alert-dismissible alert-danger-alt" role="alert">
                <button type="button" class="close" onclick="fadeout()" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                @ViewBag.message
            </div>
            break;
    }


}
