﻿
<div data-role="appbar" class="bg-darkCobalt drop-shadow fg-white" data-expand-point="lg">
 
    <a href="#" class="brand no-hover">
        <span class=" text-bold">
        <i class="mif-2x mif-fire fg-lightBlue"></i> I-insure
        </span>
    </a>
    

    <ul class="app-bar-menu">
        <li><a href="#">Home</a></li>
     
        <li><a href="#">CSU</a></li>
        <li>
            <a class="dropdown-toggle" href="#"><i class="mif-pencil"></i> Underwriting</a>
            <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">
                <li>
                    <a class="dropdown-toggle" href="#">Policy Admin</a>
                    <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">
                        @* Main class of business would dropdown here *@
                        <li><a href="#">Fire</a></li>
                        <li><a href="#">Engineering</a></li>
                        <li><a href="#">Marine Hull</a></li>
                        <li><a href="#">Motor</a></li>
                        <li><a href="#">General Accident</a></li>
                        <li><a href="#">Oil and Gas</a></li>

                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" href="#">Endorsements</a>
                    <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">
                        @* Main class of business would dropdown here *@
                        <li><a href="#">Fire</a></li>
                        <li><a href="#">Engineering</a></li>
                        <li><a href="#">Marine Hull</a></li>
                        <li><a href="#">Motor</a></li>
                        <li><a href="#">General Accident</a></li>
                        <li><a href="#">Oil and Gas</a></li>

                    </ul>
                </li>
                <li><a href="#">All transactions</a></li>
                <li>
                    <a class="dropdown-toggle" href="#">Approvals</a>
                    <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">
                        @* Main class of business would dropdown here *@
                        <li><a href="#">Fire</a></li>
                        <li><a href="#">Engineering</a></li>
                        <li><a href="#">Marine Hull</a></li>
                        <li><a href="#">Motor</a></li>
                        <li><a href="#">General Accident</a></li>
                        <li><a href="#">Oil and Gas</a></li>

                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" href="#">Setups</a>
                    <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">
                        @* Main class of business would dropdown here *@
                        <li><a href="#">Setup Motor Wax codes</a></li>
                        <li><a href="#">Setup Policy clauses</a></li>
                        <li><a href="#">Setup Memo clause</a></li>
                        <li><a href="#">Setup Inspection/Survey</a></li>
                        <li><a href="#">Setup Tracking/resque</a></li>
                        <li><a href="#">Insured Clients</a></li>

                    </ul>
                </li>


            </ul>
        </li>
        <li><a href="#"><i class="mif-note-add"></i> Claims</a></li>
        <li><a href="#"><i class="mif-note-add"></i> Re-Insurance</a></li>
        <li><a href="#"><i class="mif-note-add"></i> Accounts</a></li>

        <li><a href="#"><i class="mif-note-add"></i> Reports</a></li>

        <li><a href="#"><i class="mif-note-add"></i> Settings</a></li>
    </ul>

    <ul class="app-bar-menu ml-auto">
    
        <li><a href=""><i class="mif-bell"></i> Notification</a></li>
        <li>
            <a class="dropdown-toggle" href="/thirdparty/signin"><i class="fas fa-user-circle"></i> Good morning, Oladipupo</a>
            <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">
                @* Main class of business would dropdown here *@

                <li><a href="#"><i class="fas fa-wrench"></i> My Settings</a></li>
                <li><a href="#"><i class="fas fa-power-off"></i> Log Out</a></li>
            </ul>
        </li>
    </ul>
</div>
