﻿@*<div class="text-center" style="display: none;"><i class="fa fa-2x fa-spinner fa-spin"></i> Processing …</div>*@
<div  id="progress" data-role="activity" data-type="ring" data-style="color"></div>
<br />