﻿
<ul class="sidenav-simple sidenav-simple-expand-fs h-auto">

    <li>
        <a href="#">
       
            <span class="title">Motor</span>
        </a>
    </li>

    <li>
        <a href="#">
         
            <span class="title">Marine</span>
        </a>
    </li>
    <li class="active">
        <a href="#">
          
            <span class="title">Fire </span>
        </a>
    </li>
    <li>
        <a href="#">
  
            <span class="title">Bonds</span>
        </a>
    </li>
    <li>
        <a href="#">
        
            <span class="title">Engineering</span>
        </a>
    </li>
    <li>
        <a href="#">
         
            <span class="title">General Accident</span>
        </a>
    </li>
    <li>
        <a href="#">
           
            <span class="title">Aviation</span>
        </a>
    </li>
    <li>
        <a href="#">
         
            <span class="title">Marine Hull</span>
        </a>
    </li>
</ul>