﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Login</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4.3.2/css/metro-all.min.css">
    <!-- Required meta tags -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    @Scripts.Render("~/bundles/modernizr")

    <style>
      .login-form {
            width: 400px;
            height: auto;
            top: 50%;
            margin-top: -160px;
        }
    </style>
</head>
<body style="background-color:rgb(244, 245, 247);" class="h-vh-100">

    <div data-role="appbar" class="bg-darkCobalt drop-shadow fg-white" data-expand-point="lg">

        <a href="#" class="brand no-hover">
            <span class=" text-bold">
                <i class="mif-2x mif-fire fg-lightBlue"></i> I-insure
            </span>
        </a>


        

        
    </div>

    <div class="login-form bg-white rounded p-6 mx-auto border bd-default win-shadow">

        <h1 class="fg-darkCobalt p-2 text-center"><i class="mif-fire"></i> I-insure </h1>


        <p class="text-light text-center"> <i class="mif-vpn-lock"></i> Login to continue</p>
        <hr class="thin mt-4 mb-4 bg-white">
        <div class="form-group">
            <input type="text" data-role="input" data-prepend="<span class='mif-envelop'>" placeholder="Enter your email..." data-validate="required email">
        </div>
        <div class="form-group">
            <input type="password" data-role="input" data-prepend="<span class='mif-key'>" placeholder="Enter your password..." data-validate="required minlength=6">
        </div>
        <div class="form-group mt-10">
            <input type="checkbox" data-role="checkbox" data-caption="Remember me" class="place-right">
            <button class="button">Submit form</button>
        </div>
    </div>
    




    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/metro")
</body>
</html>
